body {
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    width: 300px;
}

label {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

input {
    border-radius: 10px;
    width: 15rem;
}

#guess {
    border-radius: 10px;
}

#restart {
    border-radius: 10px;
}

input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#message {
    font-weight: bold;
    margin-top: 10px;
}